<div class="container">
    <a href="/kanban/kanbans"><button id="back-to-kanban">Back To Kanban</button></a>
    <header>
        <h1>Completed Tasks</h1>
    </header>
    <div class="completed-tasks">
        <ul class="Tasks" id="TaskList">
            {{#each tasks}}
            <li class="ListedTask">
                <div class="ListedTask">
                    <h3 class="ListedTask-name">{{this.name}}</h3>
                    <p class="ListedTask-description">{{this.description}}</p>
                    <p class="ListedTask-assignment">{{this.username}}</p>
                    <p class="ListedTask-difficulty">Difficulty: {{this.difficulty}}</p>
                    <div class="ListedTask-Votes">
                        <ul class="VoterInfo">
                        {{#each voterInfo}}
                            <li class="VoterUsername">{{this.user}}: {{this.status}}<li>
                        {{/each}}
                        </ul>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
