<main>
    <div id="accountsHeader">
        <h1 id="completedTasks">Completed Tasks</h1>
        <nav>
            <button id="accounts-button" onclick="location.href='/kanban/kanbans'" type="button">Kanban Page</button>
            <div class="logout-button" id="logout-button">
                <button onclick="window.location.href='/logout';">Logout</button>
            </div>
        </nav>
    </div>
    <div class="completed-tasks">
        <ul class="Tasks" id="TaskList">
            {{#each Tasks}}
            <li class="ListedTask">
                <div class="ListedTask">
                    <h3 class="ListedTask-name">{{Tasks.name}}</h3>
                    <p class="ListedTask-description">{{Tasks.description}}</p>
                    <p class="ListedTask-assignment">{{Tasks.username}}</p>
                    <p class="ListedTask-difficulty">Difficulty: {{Tasks.difficulty}}</p>
                    <div class="ListedTask-Votes">
                        <ul class="ListedTask-Votes">
                            {{#each Tasks.voting_status}}
                                <li class="ListedTask-IndividualVotes">User {{Tasks.voting_status.user}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <p class="ListedTask-votingStatus">Votes: {{Tasks.voting_status}}</p>
                </div>

                {{!-- <div class="ListedTask">
                    <h3 class="ListedTask-name">cringe</h3>
                    <p class="ListedTask-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie augue nec dolor bibendum, a luctus urna dignissim. Nulla vel quam euismod, eleifend ex sed, dapibus justo. Vestibulum vel odio imperdiet, consequat nulla ac, dapibus nulla. Sed sed sem quis massa rhoncus venenatis. Donec venenatis varius ex. In consectetur euismod nibh, a elementum ex luctus quis. Nam tincidunt eros vitae elit eleifend, in tincidunt libero hendrerit. Maecenas volutpat, lectus id fringilla congue, quam nulla gravida velit, in ultrices elit elit vel elit. Suspendisse potenti. Sed auctor malesuada mi, nec imperdiet ex dictum ac. Proin lobortis tellus non tellus pharetra bibendum. Sed non metus id dolor laoreet malesuada. Donec vel bibendum dolor.</p>
                    <p class="ListedTask-assignment">cringe</p>
                    <p class="ListedTask-difficulty">Difficulty: cringe</p>
                    <div class="ListedTask-Votes">
                        <p>placeholder</p>
                        <ul class="ListedTask-Votes">
                            {{#each Tasks.voting_status}}
                                <li class="ListedTask-IndividualVotes">User {{Tasks.voting_status.user}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <p class="ListedTask-votingStatus">Votes: {{Tasks.voting_status}}</p>
                </div> --}}

                

            </li>
            {{/each}}
        </ul>
    </div>
</main>
