<main>
    <div id="accountsHeader">
        <h1 id="completedTasks">Completed Tasks</h1>
        <nav>
            <button id="accounts-button" onclick="location.href='/kanban/kanbans'" type="button">Kanban Page</button>
            <div class="logout-button" id="logout-button">
                <button onclick="window.location.href='/logout';">Logout</button>
            </div>
        </nav>
    </div>
    <div class="completed-tasks">
        <ul class="Tasks" id="TaskList">
            {{#each tasks}}
            <li class="ListedTask">
                <div class="ListedTask">
                    <h3 class="ListedTask-name">{{this.name}}</h3>
                    <p class="ListedTask-description">{{this.description}}</p>
                    <p class="ListedTask-assignment">{{this.assignedUser}}</p>
                    <p class="ListedTask-difficulty">Difficulty: {{this.difficulty}}</p>

                    <div class="ListedTask-Votes">
                        <ul class="VoterInfo">
                            {{#each voterInfo}}
                                <li class="VoterUsername">{{this.user}}: {{this.status}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</main>
