<div class="kanban-board">

    <header>
        <div id="group-heading">    
            <h1 id="group-heading-text">{{groupName}}</h1>
            <h2 id="group-id">{{kanbanId}}</h2>
        </div>
    </header>

    <div class="kanban-block" id="side-column">
        <div id="group-button-block">
            <form action="/kanban/kanbans" class="choose-group-form" id="kanban-choose-group-form" method="post">
                <label for="chooseGroup">Groups</label>
                <select name="chooseGroup" id="chooseGroup" form="kanban-choose-group-form">
                    {{#each groups}}
                    <option class="choosen-group-option" value="{{this._id}}">{{this.groupName}}</option>
                    {{/each}}
                </select>
                <input type="submit" value="submit"/>        
            </form>
        </div>

        <div id="create-task-button">
            <button id="task-button" onclick="displayCreate()">Create new task</button>
            <!-- Will open create-new-task-block div on click. And it will close it if clicked again -->
        </div>

        <div id="gatcha-button">
            <a href="/kanban/gatcha"><button id="gatcha-button">Gacha</button></a>
        </div>
        <div id="completed-task-button">
            <a href="/kanban/completedtasks"><button id="completed-tasks-button">Completed Tasks</button></a>
        </div>
        <div id="profile-button">
            <a href="/user/privateUser"><button id="profile-button">Profile</button></a>
        </div>
    </div>

    <div class="kanban-block" id="todo">
        <h3 class="kanban-block-title" id="todo-title">To Do</h3>
        {{#each todoTasks}}
            <div class="kanban-task-block">
                <h3 class="task-name">{{this.name}}</h3>
                <p class="task-description">{{this.description}}</p>
                <p class="task-user">{{this.user}}</p>
            </div>
        {{/each}}
    </div>

    <div class="kanban-block" id="inprogress">
        <h3 class="kanban-block-title" id="inprogress-title">In Progress</h3>
        {{#each inprogressTasks}}
            <div class="kanban-task-block">
                <h3 class="task-name">{{this.name}}</h3>
                <p class="task-description">{{this.description}}</p>
                <p class="task-user">{{this.user}}</p>
            </div>
        {{/each}}
    </div>

    <div class="kanban-block" id="inreview">
        <h3 class="kanban-block-title" id="inprogress-review">In Review</h3>
        {{#each inreviewTasks}}
            <div class="kanban-task-block">
                <h3 class="task-name">{{this.name}}</h3>
                <p class="task-description">{{this.description}}</p>
                <p class="task-user">{{this.user}}</p>
                <form class="task-vote-form">
                    <label for="task-{{this.name}}-yes">Sucessfully Completed</label>
                    <input id="task-{{this.name}}-yes" type="radio" class="kanban-task-vote" name="Yes" value="Yes">

                    <label for="task-{{this.name}}-no">Not Completed</label>
                    <input id="task-{{this.name}}-no" type="radio" class="kanban-task-vote" name="False" value="No">

                    <input type="submit" value="Submit">
                </form>
            </div>
        {{/each}}
    </div>

    <div id="create-new-task-block" hidden>
        <p>New Task</p>
        <form id="create-task-form" action="/kanban/kanbans" method="POST">
            <label class="create-task-form-label" for="task-name">Task</label>
            <input class="create-task-form-input" type="text" name="task-name" id="task-name">
            
            <label class="create-task-form-label" for="task-description">Description</label>
            <textarea class="create-task-form-input" name="task-description" id="task-description"></textarea>
            
            <label class="create-task-form-label" for="task-difficulty">Difficulty</label>
            <select class="create-task-form-input" name="task-difficulty" id="task-difficulty" form="create-task-form">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
            
            <div class="create-task-buttons">
                <button type="submit" id="save-button">Submit</button>
                <button type="button" id="cancel-button">Close</button>
            </div>
        </form>
        <div id="task-error"></div hidden>
    </div>
</div>