<div class="kanban-board">

    <header id="kanbanHeader">
        
        <div id="group-heading">    
            <h1 id="group-heading-text">{{groupName}}</h1>
            <h2 id="group-id">Group Id: {{kanbanId}}</h2>
            <div class="logout-button" id="logout-button">
                <button onclick="window.location.href='/logout'">Logout</button>
            </div>
        </div>
        
        <div id="kanban-profile-picture">
            <img src="../public/assets/{{selectedReward.profileReward}}.jpg" alt="profile picture">
        </div>
    </header>

    <div class="kanban-block" id="side-column">
        <div id="group-button-block">
            <form action="/kanban/kanbans" class="choose-group-form" id="kanban-choose-group-form" method="post">
                <label for="chooseGroup">Groups</label>
                <select name="chooseGroup" id="chooseGroup" form="kanban-choose-group-form">
                    {{#each groups}}
                    <option class="choosen-group-option" value="{{this._id}}">{{this.groupName}}</option>
                    {{/each}}
                </select>
                <input type="submit" value="submit">
            </form>
        </div>

        <div id="create-task-button">
            <button id="task-button" type="submit">Create new task</button>
            <!-- Will open create-new-task-block div on click. And it will close it if clicked again -->
        </div>

        <div class="sideButtons">

            <a href="/kanban/gatcha" class="kanban-link">Gatcha</a>
            <a href="/kanban/completedTasks" class="kanban-link">Completed Tasks</a>
            <a href="/user/privateUser" class="kanban-link">Profile</a>
            <a href="/user/createKanban" class="kanban-link">Create/Join Kanban</a>


        </div>
    </div>
    

    <div class="kanban-block" id="todo">
        <h3 class="kanban-block-title" id="todo-title">To Do</h3>
        {{#each todoTasks}}
            <div class="kanban-task-block" data-id={{this._id}}>
                <h3 class="task-name">{{this.name}}</h3>
                <p class="task-description">{{this.description}}</p>
                <p class="task-user">Assigned to: {{this.user}}</p>
            </div>
        {{/each}}
    </div>

    <div class="kanban-block" id="inprogress">
        <h3 class="kanban-block-title" id="inprogress-title">In Progress</h3>
        {{#each inprogressTasks}}
            <div class="kanban-task-block" data-id={{this._id}}>
                <h3 class="task-name">{{this.name}}</h3>
                <p class="task-description">{{this.description}}</p>
                <p class="task-user">Assigned to: {{this.user}}</p>
            </div>
        {{/each}}
    </div>

    <div class="kanban-block" id="inreview">
        <h3 class="kanban-block-title" id="inprogress-review">In Review</h3>
        {{#each inreviewTasks}}
            <div class="kanban-task-block" data-id={{this._id}}>
                <h3 class="task-name">{{this.name}}</h3>
                <p class="task-description">{{this.description}}</p>
                <p class="task-user">Assigned to: {{this.user}}</p>
                {{#if this.canVote}}
                    <form id="task-vote-form" class="task-vote-form">
                        <label for="task-vote">Approve? </label>
                        <select class="task-vote" name="task-vote" id="task-vote" form="task-vote-form">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <input type="submit" value="Submit">
                        <ul class="error-list" hidden></ul>
                    </form>
                {{else}}
                    <ul class="vote-count">
                        {{#each this.votingStatus}}
                            <li>{{this.user}}: {{this.status}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
        {{/each}}
    </div>

    <div id="create-new-task-block" hidden>
        <p>New Task</p>
        <form id="create-task-form" action="/kanban/createTask" method="POST">
            <label class="create-task-form-label" for="task-name">Task</label>
            <input class="create-task-form-input" type="text" name="taskname" id="task-name">
            
            <label class="create-task-form-label" for="task-description">Description</label>
            <textarea class="create-task-form-input" name="taskdescription" id="task-description"></textarea>
            
            <label class="create-task-form-label" for="task-difficulty">Difficulty</label>
            <select class="create-task-form-input" name="taskdifficulty" id="task-difficulty" form="create-task-form">
                <option value="1">Easy</option>
                <option value="2">Medium</option>
                <option value="3">Hard</option>
            </select>
            
            <div class="create-task-buttons">
                <button type="submit" id="save-button">Submit</button>
                <button type="button" id="cancel-button">Close</button>
            </div>
        </form>
        <div id="task-error"  hidden></div>
    </div>
</div>