<div class="profile-container">
        <div class="groupColumn">
            <h1>Groups</h1>
            <div class="group-button-block">
                <form action="/user/privateUser" id="profile-choose-group-form" method="post">
                    <label for="chooseGroup">Group</label>
                    <select name="chooseGroup" id="chooseGroup" form="profile-choose-group-form">
                        {{#each groups}}
                        <option class="choosen-group-option" value="{{this._id}}">{{this.groupName}}</option>
                        {{/each}}
                    </select>
                    <input type="submit" value="submit"/>        
                </form>
            </div>

            <div class="accounts-button">
                <h3>{{user}}</h2>
                <a href="/user/accountsPage"><button id="accounts-button">Accounts</button></a>
            </div>

            <div class="kanban-button">
                <h3>{{currentKanban.groupName}}</h3>
                <a href="/kanban/kanbans"><button id="kanban-button">KanbanPage</button></a>
            </div>

            <div class="logout-button" id="logout-button">
                <button onclick="window.location.href='/logout';">Logout</button>
            </div>
        </div>
    <h1>Prizes</h1>
    <div class="prize-block">
        <form class="prize-form" id="prize-color-form">
            <label for="chooseColor">Color Choices</label>
            <select name="chooseColor" id="chooseColor" form="prize-color-form">
                {{#each prizes.colorRewards}}
                <option class="prize-color-option" value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button type="submit" value="submit"/>        
        </form>
    </div>

    <div class="prize-block">
        <form class="prize-form" id="prize-border-form">
            <label for="chooseBorder">Border Choices</label>
            <select name="chooseBorder" id="chooseBorder" form="prize-border-form">
                {{#each prizes.borderRewards}}
                <option class="prize-border-option" value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button type="submit" value="submit"/>        
        </form>
    </div>

    <!-- MUST CHANGE TO NOT USE HTML BASED STYLING (check option tag)-->    
    <div id="prize-picture-button-block">
        <form action="/user/privateUser/selectPicture" method="post" class="choose-prize-picture-form" id="prize-picture-form">
            <label for="choosePicture">Picture Choices</label>
            <select name="choosePicture" id="choosePicture" form="prize-picture-form">
                {{#each prizes.profileRewards}}
                <option class="prize-picture-option" style="background-image:{{this.img_url}}" value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button type="submit" value="submit"/>        
        </form>
    </div>
    <div id="profile-picture">
            <img src="../public/assets/{{selectedReward.profileReward}}.jpg" alt="Profile Picture">
    </div>

   
</div>
